/* <img src="imagenes/LOGO cuadrado.jpg" alt="LOGO LA PORTEÑA"> */

/* Área header */
header{
    display: flex;
    width: 100%;
}
header img{
    width: auto;
    height: 130px;
    justify-content: left;
    
}
header nav{
    width: 86%;
    border-bottom: 1.4px solid black;
}
header nav ul{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items:center;
    margin: 0;
    padding: 0;
}    
ul li{
    padding: 0% 10% 0% 10%;
    display: inline-block;
}
a{
    text-decoration: none;
    color: black;
}
button{
    transition: 0.4s;
}
button:hover{
    border: none;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.6);
    color: whitesmoke;
    transition: 0.4s;
}

/* área MAIN */
main img{
    width: 164px;
    height: 177px;
    padding: 10px 30px 0 0;
}
#sectionMain{
    display:flex;
}
#texto{
    width: 40%;
}
#imagenes{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
#imagenes div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
p{
    padding-bottom: 8%;
}
